.transform-origin-1 {
  transition: all 0.2s linear;
}
.transition-menu {
  transition: all 0.3s ease-in-out;
}
.bg-filter {
  backdrop-filter: blur(10px);
}
.animation1 {
  animation: myAnim 1.1s ease-in-out infinite;
}
@keyframes myAnim {
  0% {
    transform: translate(-2.9vw);
  }

  50% {
    transform: translate(-0.5vw);
  }

  100% {
    transform: translate(-2.9vw);
  }
}
.animation2 {
  animation: myAnim2 1.1s ease-in-out infinite;
}

@keyframes myAnim2 {
  0% {
    transform: translate(-2.9vw);
  }
  50% {
    transform: translate(0.3vw);
  }
  100% {
    transform: translate(-2.9vw);
  }
}
.animation3 {
  animation: myAnim3 1.1s ease-in-out infinite;
}
@keyframes myAnim3 {
  0% {
    transform: translate(-3.1vw);
  }
  50% {
    transform: translate(1vw);
  }
  100% {
    transform: translate(-3.1vw);
  }
}
.animation4 {
  animation: myAnim4 0.2s ease-in-out;
  box-shadow: 0 0 0.5vw #ff0074a6;
}
@keyframes myAnim4 {
  0% {
    transform: scaleX(0.2);
  }
  100% {
    transform: scaleX(1);
  }
}
.menu-anim {
  animation: menuAnim 0.8s ease-in-out;
  box-shadow: 0 0 1vw #000c;
}
@keyframes menuAnim {
  0% {
    transform: translateX(-30vw);
  }
  100% {
    transform: scaleX(0);
  }
}
.drop-animation {
  animation: dropAnim 0.1s ease-in-out;
}
@keyframes dropAnim {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.items-animation {
  animation: menuItemsAnim 0.15s ease-in-out;
}
@keyframes menuItemsAnim {
  0% {
    transform: translateX(-23vw);
  }
  100% {
    transform: translateX(0);
  }
}
.burger-menu-container {
  gap: 0.8vw;
  font-weight: bold !important;
}

button.burger-menu {
  position: relative;
  width: 1.8vw;
  height: 1.8vw;
  transition: all 0.4s;
  /*display: none;*/
  z-index: 200 !important;
}

button.burger-menu.active {
  transform: translateX(-3vw);
}

button.burger-menu::before {
  content: "";
  width: 100%;
  height: 0.2vw;
  background-color: var(--light-font);
  border-radius: 0.15vw;
  box-shadow: 0 0.55vw 0 var(--light-font);
  position: absolute;
  transition: all 0.4s;
}

button.burger-menu.active::before {
  transform: rotate(45deg) !important;
  box-shadow: none !important;
}

button.burger-menu::after {
  content: "";
  width: 100%;
  height: 0.2vw;
  background-color: var(--light-font);
  border-radius: 0.15vw;
  box-shadow: 0 -0.55vw 0 var(--light-font);
  position: absolute;
  transition: all 0.4s;
}

button.burger-menu.active::after {
  transform: rotate(-225deg) !important;
  box-shadow: none !important;
  background-color: var(--light-font);
}

@media screen and (max-width: 992px) {
  button.burger-menu {
    display: flex;
    width: 25px;
    height: 24px;
  }

  button.burger-menu::before {
    height: 3px;
    border-radius: 2px;
    box-shadow: 0 8px 0 var(--light-font);
  }

  body.light button.burger-menu::before {
    box-shadow: 0 8px 0 var(--dark-font);
  }

  button.burger-menu::after {
    height: 3px;
    border-radius: 2px;
    box-shadow: 0 -8px 0 var(--light-font);
  }

  body.light button.burger-menu::after {
    box-shadow: 0 -8px var(--dark-font);
  }
}
