.preloader {
  box-shadow: 0 0 1vw #0009;
}
.circle-animation1 {
  left: 0.5vw;
  animation: circleAnim1 0.6s infinite;
}
@keyframes circleAnim1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.circle-animation2 {
  left: 0.5vw;
  animation: circleAnim2 0.6s infinite;
}
@keyframes circleAnim2 {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(1vw);
  }
}
.circle-animation3 {
  left: 2vw;
  animation: circleAnim3 0.6s infinite;
}
@keyframes circleAnim3 {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(1.5vw);
  }
}
.circle-animation4 {
  left: 3.5vw;
  animation: circleAnim4 0.6s infinite;
}
@keyframes circleAnim4 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.svg-pre {
  position: absolute;
  width: 100%;
  transition: all 0.3s;
  stroke-dasharray: 1750vw;
  stroke-dashoffset: 1750vw;
}
.animation-svg-preloader {
  fill: transparent;
  stroke: var(--magenta);
  stroke-width: 2.5vw;
  animation: svgPreloaderAnim 2s linear forwards;
}
@keyframes svgPreloaderAnim {
  0% {
    stroke-dashoffset: 1750vw;
  }
  20% {
    stroke-dashoffset: 1550vw;
  }
  40% {
    stroke-dashoffset: 1250vw;
  }
  60% {
    stroke-dashoffset: 1000vw;
  }
  70% {
    stroke-dashoffset: 300vw;
    fill: transparent;
  }
  80% {
    stroke-dashoffset: 0;
    fill: var(--magenta);
  }
  100% {
    stroke-dashoffset: 0;
    fill: var(--magenta);
  }
}
